
<h1 class="bg-primary text-white p-4">
  pipes
</h1>






<div class="container mt-4">
       <div class="row">
        <div class="col-sm-6 offset-sm-3">
          <input type="text" class="form-control" placeholder="search by team name"
         [(ngModel)]="searchByValue" >
        </div>
       </div>
   
          <div class="row mt-4">
            <div class="col-md-12">
              <table class="table table-bordered">
                         <thead>
                          <tr>
                            <th>sr no</th>
                            <th>Name</th>
                            <th>role</th>
                            <th>country</th>
                            <th>age</th>
                            <th>matchesPlayed</th>
                            <th>totalRuns</th>
                            <th>totalWickets</th>
                          </tr>
                         </thead>
                         <tbody>
                            <tr *ngFor="let player of playersArray | filterplayers : searchByValue; index as i">
                              <td>{{i + 1}}</td>
                              <td>{{player.name}}</td>
                              <td>{{player.role}}</td>
                              <td>{{player.country}}</td>
                              
                              <td>{{player.age}}</td>
                              <td>{{player.matchesPlayed}}</td>
                              <td>{{player.totalRuns}}</td>
                              <td>{{player.totalWickets}}</td>
                            </tr>
                         </tbody>
              </table>
            </div>
          </div>
     <!-- <div class="row">
         <div class="col-md-4" *ngFor="let file of filesArray">
          <div class="card">
            <div class="card-header">
                 {{file.name}}
            </div>
            <div class="card-body">
              {{file.size | filesize}}
            </div>
          </div>
         </div>
     </div> -->
</div>







<!-- <p mt-4>

  {{title | summary :50}}
</p>

<p>

  {{title | summary :100}}
</p>
<p>

  {{title | summary :10}}
</p>

<p>

  {{title | summary}}
</p> -->